body {
  font-family: sans-serif;
  background: linear-gradient(150deg, rgba(247,158,255,1) 16%, rgba(68,255,254,1) 72%);
}

header {
  background-color: transparent;
  color: #fff;
  padding: 10px;
}

h1 {
  font-size: 50px;
  src: url('DM Serif Text.ext') format('opentype');
  text-align: center;
}

nav {
  float: right;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #000;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  color: transparent;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 82px;
}

.banner h2 {
  margin-bottom: 10px;
  color: white; 
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
}

.banner p {
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 39px;
  margin-bottom: 100px;
}

.banner a {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

#organiza_prod{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.produtos ul {
  list-style: none;
}

.produtos li {
   width: 33.33%; 
  margin-bottom: 20px;
}

.produtos li img {
  width: 45%;
}

.prod{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33.33%;
}
.produtos li h3 {
  margin-bottom: 10px;
}

.produtos li p {
  margin-bottom: 20px;
}

.produtos li a {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

li{
  text-align: center;
}

/* CSS para tela mobile */

@media (max-width: 575.98px) {
  .produtos li {
    width: 50%;
  }
  .banner{
    width: 50%;
  }
}

@media (max-width: 479.98px) {
  .produtos li {
    width: 100%;
  }
  .banner{
    width: 25%;
  }
}